<div>
    <div class="messages">
     <!-- messages will show up here -->
    </div>
    <button phx-click="random-room" type="submit">Create a random room</button>
    <br>
    <!-- <input type="text" name="text" placeholder="chatroom name"/> -->
</div>
