/* This file is for your main application CSS */
@import "./phoenix.css";

#room-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* height: 600px; */
  height: 100%;
  min-height: 75vh;
  width: 100%;
  border: 3px solid rgb(98, 96, 96);
  border-radius: .5em;
  background: rgba(236, 236, 236, 0.272);
}

/* ------------------------ Video ------------------------ */

#video-container{
  flex-grow: 3;
  object-fit: contain;
  border-radius: .5em 0  0 .5em;
}

#camera{
  width: 100%;
  height: 100%;
  background: url("https://media.giphy.com/media/motnLx3NDhfoSfuWXF/giphy.gif");
  background-position: center;
  background-size: cover;
  border-radius: .5em 0  0 .5em;
}

/* ------------------------ Misc ------------------------ */

header{
  font-family: 'Aboreto', cursive;
  font-size: large;
  margin: 0;
  margin-bottom: .5em;
  background: none;
}

body{
  font-family: 'Work Sans', sans-serif;
  font-size: large;
  height: 100%;
  padding: 0%;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(66,129,102,1) 25%, rgba(0,44,29,1) 100%);
}

html, body{
  height: 100%;
  min-height: 100%;
  padding: .5em;
  margin: 0;
  /* background: rgb(137,174,255);
  background: linear-gradient(51deg, rgba(137,174,255,1) 0%, rgba(218,251,255,1) 100%); */
}

p{
  margin: 0;
  margin-top: .5em;
  margin-bottom: .5em;
  min-width: 100%;
  font-family: 'Rubik', sans-serif;
}

img {
  width:100%;
  height:100%;
}

textarea{
  resize: none;
  margin-bottom: 0;
}

input{
  word-break: break-word;
}

/* ------------------------ Chat & Messages ------------------------ */

#chat-container {
  display: flex;
  border-left: 1px solid rgb(98, 96, 96);
  padding: .25em;
  padding-bottom: 0;
  flex-wrap: wrap;
  min-width: 25%;
  max-width: 25%;
  flex-direction: row;
  justify-content: space-between;  
}

#chat-messages {
  flex-grow: 1;
  overflow: auto;
  max-height: 90%;
  width: 100%;
}

#input-box{
  width: 100%;
  margin-top: auto;
}

#chat-form{
  /* background: #31708f; */
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  margin-top: .5em;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  max-height: 20%;

}

.message {
  word-wrap: break-word;
  margin: .5em;
  margin-bottom: auto;
  background: rgba(0, 84, 62, 0.726);
  border: 2px inset rgb(123 175 159);
  /* border-top-left-radius: 0; */
  border-radius: 0 .5em .5em .5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0;
  width: auto;
  box-shadow: 18px -4px 25px 0px rgba(0,0,0,0.29) inset;
  -webkit-box-shadow: 18px -4px 25px 0px rgba(0,0,0,0.29) inset;
  -moz-box-shadow: 18px -4px 25px 0px rgba(0,0,0,0.29) inset;
}

.author{
  margin-top: auto;
  padding-right: 1em;
  font-size: small;
  font-style: bold;
}

/* ------------------------ Active Users ------------------------ */

#active-users{
  /* flex-grow: 3; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: .5em; */
  min-width: 15%;
  max-width: 20%;
  width: auto;
  border-left: 1px solid grey;
  border-radius: 0 .5em .5em 0;
  /* border-radius: .5em; */
  /* height: 200px; */
  overflow: auto;
  padding: 1em;
  font-weight: 700;
  /* background: rgba(0, 0, 0, 0.505); */
}

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before{
  content: "\25B6"; 
  font-weight: bold;
  display: inline-block;
  height: 1em;
  width: 1.5em;
  margin-left: -1em;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}


.active-user{
    /* filter: brightness(90%); this essentially darkens the colors */
    /* border: 1px solid grey;
    border-radius: .5em; */

    margin: 0%;
    padding: .2em;
}











/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading{
  cursor: wait;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys{
  0% { scale: 0.95; opacity: 0; }
  100% { scale: 1.0; opacity: 1; }
}

@keyframes fade-out-scale-keys{
  0% { scale: 1.0; opacity: 1; }
  100% { scale: 0.95; opacity: 0; }
}

@keyframes fade-in-keys{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out-keys{
  0% { opacity: 1; }
  100% { opacity: 0; }
}
