/* This file is for your main application CSS */
@import "./phoenix.css";



/* ------------------------ Video ------------------------ */

#video-container{
  justify-content: space-between;
  /* align-items: center; */
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  /* max-height: 60%; */
}

#room-container{
  border-radius: .5em;
  height: 90%;
  max-height: 90%;
  padding: .5em;
  display: flex;
  flex-direction: column;

  /* min-width: 100%; */
  width: 100%;
  position: fixed;
}

.camera{
  width: 20%;
  /* height: 50%; */
  padding: .5em;
  margin: .5em;
  color: black;
  border-radius: .5em;
  flex-grow: 1;
  border: 1px solid rgb(255, 255, 255);
  background: rgba(54, 59, 106, 0.332);
}

/* ------------------------ Misc ------------------------ */

header{
  font-family: 'Montserrat', sans-serif;
  /* padding: .5em; */
  background: none;
  margin: 0%;
}

h1{
  /* position: relative; */
  /* padding: .5em; */
}

body{
  display: flex;
  flex-direction: column;
  /* background: #21283f; */
  color: rgb(255, 255, 255);
  /* min-height: 100vh; */
  /* height: 100vh; */
  padding: 0%;
  margin: 0%;
  background-image: url("https://images4.alphacoders.com/936/thumb-1920-936378.jpg");
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(15px);

  --main-color: #51515191;
  --darker-main: #46464688;
  --lighter-main: #606060a0;
  --input-background: #31313171;
  --chat-container-background: #2e2d2d93;
}

p{
  margin: 0;
  padding: .5em;
  /* margin-top: .5em; */
  margin-bottom: .5em;
  min-width: 100%;
  font-family: 'Rubik', sans-serif;
}

img {
  width:100%;
  height:100%;
}


input{
  word-break: break-word;
  font-size: 1em;
}

/* ------------------------ Chat & Messages ------------------------ */

#chat-container{
  background: rgba(54, 59, 106, 0.332);
  max-height: 35%;
  min-height: 15%;
  border-radius: .5em;
  display: flex;
  padding: .5em;
  flex-direction: row;
  justify-content: center;

}

#chat-messages {
  padding: .5em;
  flex-grow: 1;
  overflow: auto;
}

#input-box input{
  min-width: 100%;
  min-height: 2.5em;
  background: var(--input-background);
  color: whitesmoke;
  margin-top: .5em;
}

#chat-form{
  /* background: #828282; */
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  margin-top: .5em;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  max-height: 20%;

}

.message{
  color: black;
  margin-top: .5em;
  padding: .5em 20em .5em .5em;
  border-radius: 0 .5em .5em .5em;
  font-weight: 500;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  box-shadow: 24px -26px 9px -15px rgba(0,0,0,0.27) inset;
  -webkit-box-shadow: 24px -26px 9px -15px rgba(0,0,0,0.27) inset;
  -moz-box-shadow: 24px -26px 9px -15px rgba(0,0,0,0.27) inset;
  border-left: 3px solid rgb(152, 152, 152);
}

.author{
  margin-top: auto;
  padding-right: 1em;
  font-size: small;
  font-style: bold;
}

/* ------------------------ Active Users ------------------------ */

#active-users{
  width: 20%;
  padding: .5em;
  border: 1px solid rgb(118, 118, 118);
  border-radius: .5em;
  overflow: auto;
}

#active-users h2{
  color: whitesmoke;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before{
  content: "\25B6"; 
  font-weight: bold;
  display: inline-block;
  height: 1em;
  width: 1.5em;
  margin-left: -1em;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}


.active-user{
    padding-left: 2em;
    min-width: 20%;
    font-size: 1.3em;
    /* padding: .5em; */
    border-left: 1px solid rgb(118, 118, 118);
    border-radius: .5em;
}
