/* This file is for your main application CSS */
@import "./phoenix.css";

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

/* ------------------------ Video ------------------------ */

#video-container{
  justify-content: space-around;
  /* align-items: center; */
  flex-grow: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* width: 100%; */
  /* max-height: 100%; */
  margin: .25em;
  /* max-height: 60%; */
  padding: 0%;
  border: 1px solid  var(--border-color);
  border-radius: .5em;
}

.video-stream{
  object-fit: fill;
}

video {
  flex-grow: 1;
  /* override other styles to make responsive */
  width: auto      !important;
  height: auto     !important;
  max-height: 100% !important;
  border-radius: 1em;
  border: 3px solid rgba(4, 150, 194, 0.488);
  /* transform: rotateY(180deg); */
  /* --aspect-ratio: 7 / 4 !important; */
}

#room-container{
  border-radius: .5em;
  height: 90%;
  max-height: 90%;
  padding: .5em;
  display: flex;
  flex-direction: row;

  /* min-width: 100%; */
  width: 100%;
  position: fixed;
}

.camera{
  max-height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  /* height:min-content; */
  margin: .2em;
  color: rgb(255, 255, 255);
  border-radius: .5em;
  flex-grow: 1;
  /* border: 1px solid rgb(255, 255, 255); */
  background: rgba(54, 59, 106, 0.358);

  box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: 10px 10px 38px -16px rgba(0,0,0,0.75) inset;
}

/* ------------------------ Misc ------------------------ */

header{
  font-family: 'Montserrat', sans-serif;
  /* padding: .5em; */
  background: none;
  margin: 0% !important;
}

header h1{
  text-align: center;
  padding-top: .5em;
  margin: 0 !important;
  /* line-height: 0% !important; */
}

body{
  display: flex;
  flex-direction: column;
  /* background: #21283f; */
  color: rgb(255, 255, 255);
  /* min-height: 100vh; */
  /* height: 100vh; */
  padding: 0%;
  margin: 0%;
  background-image: url("https://wallpaperaccess.com/full/388275.jpg");
  background-position: center;
  background-size: cover;
  backdrop-filter: blur(25px);

  --main-color: #51515191;
  --darker-main: #46464688;
  --lighter-main: #606060a0;
  --input-background: #31313171;
  --chat-container-background: #2e2d2d93;
  --border-color: rgb(255 255 255 / 19%);
}

p{
  text-align: center;
  margin: 0;
  padding: .5em;
  /* margin-top: .5em; */
  margin-bottom: .5em;
  min-width: 100%;
  font-family: 'Rubik', sans-serif;
}

img {
  width:100%;
  height:100%;
}


input{
  word-break: break-word;
  font-size: 1em;
}

/* ------------------------ Chat & Messages ------------------------ */



#chat-container{
  margin: .25em;
  width: 10%;
  flex-grow: 1;
  background: rgba(54, 59, 106, 0.332);
  border-radius: .5em;
  display: flex;
  padding: 0%;
  flex-direction: row;
  justify-content: center;
    border: 1px solid var(--border-color);
}

#chat{
  max-width: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin: 0%;
  padding: 0%;
  border-radius: .5em;
}

#chat-messages {
  flex-grow: 1;
  overflow: auto;
  padding: .5em;
}

#input-box input{
  width: 100%;
  min-height: 2.5em;
  background: var(--input-background);
  color: whitesmoke;
  margin: auto;
  border: none;
  /* border-top: 1px solid var(--border-color); */

  border-radius: .5em;
  /* margin: .5em; */
}

#chat-form{
  /* background: #828282; */

  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: auto;
  margin-top: .5em;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
  max-height: 20%;

}

.message{
  min-width: 100%;
  color: black;
  margin-top: .5em;
  padding: .5em;
  border-radius: 0 .5em .5em .5em;
  font-weight: 500;
  font-size: 1.1em;
  font-family: 'Roboto', sans-serif;
  box-shadow: 24px -26px 9px -15px rgba(0,0,0,0.27) inset;
  -webkit-box-shadow: 24px -26px 9px -15px rgba(0,0,0,0.27) inset;
  -moz-box-shadow: 24px -26px 9px -15px rgba(0,0,0,0.27) inset;
  border-left: 3px solid var(--border-color);
}

.author{
  margin-top: auto;
  padding-right: 1em;
  font-size: small;
  font-style: bold;
}

/* ------------------------ Active Users ------------------------ */

#active-users{
  flex-grow: 1;
  width: 35%;
  
  padding: .5em;
  border: 1px solid var(--border-color);
  border-radius: .5em;
  overflow: auto;
}

#active-users h2{
  color: whitesmoke;
}
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before{
  content: "\25B6"; 
  font-weight: bold;
  display: inline-block;
  height: 1em;
  width: 1.5em;
  margin-left: -1em;
  -webkit-text-stroke-width: .5px;
  -webkit-text-stroke-color: black;
}


.active-user{
    padding-left: 2em;
    min-width: 20%;
    font-size: 1.3em;
    /* padding: .5em; */
    border-left: 1px solid var(--border-color);
    border-radius: .5em;
}
